@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
